/* 
    Created on : Jan 16, 2015, 11:21:08 AM
    Author     : mariomhgf
*/

/**
    Make all the fonts "fatter"
**/
body * {
    font-weight: 400 !important;
}

.textCenter {
    text-align:center;    
}

.textRight {
    text-align:right;    
}

.textJustified {
    text-align: justify;
}

.textBold {
    font-weight: bold; 
}

.above {
    color: green;
    font-weight: bold;
}

.below {
    color: red;
    font-weight: bold;
}

.mark {
    color:orange;
    font-weight: bold;
}

.link {
    color: lightseagreen;
    font-style: italic;
}

p strong {
    color: orange;
    font-weight: bolder !important;
}

////////////////////////////////////////////////////////////////////////////////

.row {
    height: 1em;
}

.menu {
    width: 100%;
    display: inline-block;
    text-align: center;
}